<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplicationstyle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/pref_games" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.games_host"/>
        <activity
            android:name=".ui.Activity_settings"
            android:theme="@style/AppTheme_with_AB"
            android:parentActivityName=".ui.games_host"

            >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/search_material"/>
        </activity>
        <activity android:name=".ui.game_detail"
            android:parentActivityName=".ui.games_host"
            android:theme="@style/AppTheme_with_AB"
            >

        </activity>

        <activity android:name=".ui.screenshots.Screenshots"
            android:parentActivityName=".ui.game_detail"
            android:theme="@style/AppTheme_with_AB"
            >

        </activity>
        <activity android:name=".ui.videos.Videos"
            android:parentActivityName=".ui.game_detail"
            android:theme="@style/AppTheme_with_AB">

        </activity>

        <activity android:name=".ui.reviews.Review"
            android:parentActivityName=".ui.game_detail"
            android:theme="@style/AppTheme_with_AB">

        </activity>

        <activity android:name=".ui.reviews.Review_detail"
            android:parentActivityName=".ui.game_detail"
            android:theme="@style/AppTheme_with_AB">

        </activity>

        <activity android:name=".ui.Feeds.Feeds"
            android:parentActivityName=".ui.game_detail"
            android:theme="@style/AppTheme_with_AB">

        </activity>




    </application>

</manifest>